
div {
    line-height: 1.6;
    
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.context {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.subheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Lato', sans-serif;
}

.header{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    
    text-align:"center";
    
    
}

.footer{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
  


